*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

th,td{
    border: 0.1px solid black;
    padding: 10px;
}
table{
    border-collapse: collapse;
}
.bg{
    background-color: green;
    color: black;
}
.enter-date{
    padding: 5px;
}
#btn{
    background-color: blue;
    color: white;
    padding: 7px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25%;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
}
